<header>
    <h1>Text Anybody</h1>
    <img class="logo" src="images/twilio.png">
</header>

<section id="main" role="main">
    <form>
    <input type="tel" name="number" placeholder="Mobile No.">
    <input type="text" name="text" placeholder="Message...">
    <input type="button" value="Send SMS">
    </form>
</section>

<p class="response"></p>

{{!--<script src="/socket.io/socket.io.js"></script>--}}
<script src="js/app.js"></script>